@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --onboard-navbar-height: 48px;
  }

  body {
    @apply bg-[#F2F6F9] text-s2 text-neutral-600;
  }
  html {
    @apply overflow-y-hidden;
  }
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  h1 {
    @apply mb-[54px] text-s9;
  }
  h2 {
    @apply mb-12 text-s8;
  }
  h3 {
    @apply mb-2 text-s7;
  }
  h4 {
    @apply mb-2 text-s6;
  }
  h5 {
    @apply mb-2 text-s5;
  }
  h6 {
    @apply mb-2 text-s4;
  }
  p {
    @apply mb-4 text-s2;
  }
  button {
    @apply select-none text-s2;
  }
  small {
    @apply block text-s1;
  }
  input {
    @apply text-s2;
  }
  a {
    @apply select-none underline;
  }
  .title {
    @apply font-bold text-secondary-400;
  }
}

.slide-up-enter-active, .slide-up-leave-active {
  transition: opacity 0.7s, transform 0.7s;
}
.slide-up-enter, .slide-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.default-enter-active,
.default-leave-active {
  transition: opacity 0.5s;
}
.default-enter,
.default-leave-active {
  opacity: 0;
}
