@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --onboard-navbar-height: 48px;
  }

  body {
    @apply bg-[#F2F6F9] text-s2 text-neutral-600;
  }
  html {
    @apply overflow-y-hidden;
  }
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
  h1 {
    @apply mb-[54px] text-s9;
  }
  h2 {
    @apply mb-12 text-s8;
  }
  h3 {
    @apply mb-2 text-s7;
  }
  h4 {
    @apply mb-2 text-s6;
  }
  h5 {
    @apply mb-2 text-s5;
  }
  h6 {
    @apply mb-2 text-s4;
  }
  p {
    @apply mb-4 text-s2;
  }
  button {
    @apply select-none text-s2;
  }
  small {
    @apply block text-s1;
  }
  input {
    @apply text-s2;
  }
  a {
    @apply select-none underline;
  }
  .title {
    @apply font-bold text-secondary-400;
  }

  .tooltip.tooltip-error .tooltip-inner {
    @apply bg-error-dark-500;
  }
  .tooltip.tooltip-error .tooltip-arrow {
    @apply border-error-dark-500;
  }
  .tooltip.tooltip-info .tooltip-inner {
    @apply max-w-[300px] bg-white p-3 text-neutral-600 shadow-button;
  }
  .tooltip.tooltip-info .tooltip-arrow {
    @apply border-white;
  }
}

.default-enter-active,
.default-leave-active {
  transition: opacity 0.5s;
}
.default-enter,
.default-leave-active {
  opacity: 0;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(240, 90, 36, 1);
  animation: pulse-animation 1s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(240, 90, 36, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(240, 90, 36, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(240, 90, 36, 0);
  }
}
